@font-face {
  font-family: Roboto;
  src: url("../font/roboto.ttf");
}

body {
  font-family: Roboto;
  background-color: #000000;
  color: aliceblue;
}

.development {
  background: repeating-linear-gradient(
    -55deg,
    #ffd000,
    #ffd000 60px,
    #1b1b1b 40px,
    #1b1b1b 90px
  );
  color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

.development-inner {
  background-color: #ffd000;
  display: inline-block;
  padding: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1vh;
  text-transform: uppercase;
  font-weight: 900;
  font-size: large;
}

.development a:link {
  color: #000000 !important;
  text-decoration: none !important;
}
.development a:visited {
  color: #000000 !important;
  text-decoration: none !important;
}
.development a:hover {
  color: #414141 !important;
  text-decoration: underline !important;
}
.development a:active {
  color: #8a8a8a !important;
  text-decoration: underline !important;
}
