@font-face {
  font-family: Roboto;
  src: url("../font/roboto.ttf");
}

@font-face {
  font-family: poet;
  src: url("../font/poet.ttf");
}

body {
  font-family: poet;
  background-color: #302837;
  color: aliceblue;
}

.development {
  background: repeating-linear-gradient(
    -55deg,
    #ffd000,
    #ffd000 60px,
    #1b1b1b 40px,
    #1b1b1b 90px
  );
  color: black;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
}

.development-inner {
  font-family: Roboto;
  background-color: #ffd000;
  display: inline-block;
  padding: 0.5em;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1vh;
  text-transform: uppercase;
  font-weight: 900;
  font-size: large;
}

.development a:link {
  color: #000000 !important;
  text-decoration: none !important;
}
.development a:visited {
  color: #000000 !important;
  text-decoration: none !important;
}
.development a:hover {
  color: #414141 !important;
  text-decoration: underline !important;
}
.development a:active {
  color: #8a8a8a !important;
  text-decoration: underline !important;
}

.connection {
  height: 3em;
  margin: 0.5em;
}

.inbutton {
  width: 6em;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #5865f2 !important;
}

.line1 {
  border: none;
  height: 0.5em;
  /* Set the hr color */
  color: #b31136; /* old IE */
  background-color: #b31136; /* Modern Browsers */
}

.line2 {
  border: none;
  height: 0.5em;
  /* Set the hr color */
  color: #ff8023; /* old IE */
  background-color: #ff8023; /* Modern Browsers */
}

.line3 {
  border: none;
  height: 0.5em;
  /* Set the hr color */
  color: #ffb41d; /* old IE */
  background-color: #ffb41d; /* Modern Browsers */
}

.line4 {
  border: solid;
  height: 0.5em;
  /* Set the hr color */
  color: #31a7a7; /* old IE */
  background-color: #31a7a7; /* Modern Browsers */
}

hr {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  opacity: 1;
}

.shhh {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.shhh,
.shhh:active,
.shhh:visited {
  color: #302837 !important;
  text-decoration: none;
}

.shhh:hover {
  color: #ff8023;
}

.hero {
  height: 8em;
}
